@tailwind base;
@tailwind components;
@tailwind utilities;

/* Add any project globals below */
:root {
  --primary-color: #1e40af;
}

body {
  font-family: system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial;
}
